/* ============================================
   CSS styles for Final Project 
   Phonics Link Website 
   Kali Birdsall & Anika Majumder
   ============================================ */

/* ============================================
   COLOR PALETTE
   ============================================ 

color: black; 
color: white; 
color: #49aac5; teal blue
color: #9ccf57; light green
color: #f1f1f1; light grey
color: #686867; dark grey
color: #ecf9d9; light green background
color: #ccf5ff; light blue background
*/


/* ============================================
   BASE STYLES
   ============================================ */

body {
    font-size: 16px; 
    font-family: "poppins", sans-serif;
    margin: 0;
}

/* Responsive image style from Rik's slide*/
img {
    max-width: 100%;
    height: auto;
}

/* ============================================
   TYPOGRAPHY
   ============================================ */

h1 {
    font-size: 5em;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 50px;
}

h2 {
    font-size: 3.3em;
    font-weight: 400;
    margin: 0;
}

h3 {
    font-size: 2.5em;
    font-weight: 400;
    margin: 0;
}

p {
    font-size: 1.1em; 
    font-style: normal;
    font-weight: 400;
    line-height: 1.6em;
}

a {
    font-size: 1.1em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6em;
}


/* ============================================
   LINK STATES
   ============================================ */

/* Navigation links */
a.link-nav {
    color: black;
    text-decoration: none;
}

a.link-nav:visited {
    color: black;
}

a.link-nav:hover {
    color: #49aac5;
}

/* View all link, home page*/
.view-all-link {
    font-size: 1.1em;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

.view-all-link:hover {
    color: #49aac5;
}


/* ============================================
   LAYOUT CONTAINERS
   ============================================ */

.container {
    padding-left: 13%;
    padding-right: 13%;
    box-sizing: border-box;
}

.containerheader {
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    background-color: white;
    border-bottom: lightgrey 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerheader nav {
    display: flex;
    gap: 60px;
}

.intro-flex {
    display: flex;
    gap: 100px;
    align-items: center;
}


/* ============================================
   HEADER & NAVIGATION
   ============================================ */

#header {
    width: 100%;
    height: auto;
    background: white;
    color: black;
    box-sizing: border-box;
}

.header-logo {
    width: 100px;
    height: auto;
}


/* ============================================
   HERO SECTION (ALL PAGES)
   ============================================ */

#herosection {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    box-sizing: border-box;
}

.hero-background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.hero-text {
    color: white;
}


/* ============================================
   HOME PAGE SECTIONS
   ============================================ */

/* Resources section */
#resourcessection {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 0px;
}

#resourcessection p {
    max-width: 85%;
}

/* Reading game section */
#readinggamessection {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 100px;
}

#readinggamessection p {
    max-width: 85%;
}

/* API Word of the Day section */
#apisection { 
    background-color: #ccf5ff;
    width: 100%;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
}

#apisection p {
    max-width: 65%;
}

.wordOfTheDay-container {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: white;
    border-radius: 15px;
}

#word {
    color: #9ccf57;
    font-weight: bold;
}

/* Current Events section (home page) */
#blogsection {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 0px;
}

#blogsection p {
    max-width: 65%;
}

#section1 {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 200px;
}

#section1 .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-top: 50px;
}


/* ============================================
   ABOUT PAGE SECTIONS
   ============================================ */

.about-text {
    flex: 1;
}

.about-text h1 {
    margin-top: 0;
}

#about1 {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
}

#about1 p {
    max-width: 85%;
}

#textsectionNOspace {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    padding-top: 0px;
    padding-bottom: 30px;
}

#textsectionNOspace p {
    max-width: 85%;
}

#teamcards {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 200px;
}

#teamcards .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-top: 0px;
}


/* ============================================
   BLOG/CURRENT EVENTS PAGE SECTIONS
   ============================================ */

#textsectionWITHspace {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 0px;
}

#textsectionWITHspace p {
    max-width: 85%;
}

#textsectionWITHspaceTOPBOTTOM {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
}

#textsectionWITHspaceTOPBOTTOM p {
    max-width: 85%;
}

#blog .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-top: 50px;
    padding-bottom: 200px;
}



/* ============================================
   GAMES PAGE SECTIONS
   ============================================ */

#game-section {
    margin-top: 80px;
    background-color: #ccf5ff;
    padding-top: 50px;
    padding-bottom: 50px;
}

#games-pic {
    border-radius: 15px;
}


/* ============================================
   SHARED COMPONENTS
   ============================================ */

/* Resource images */
.img-resources {
    width: auto;
    height: 400px;
    border-radius: 15px;
    object-fit: cover;
}

/* Cards */
.card {
    background-color: #f0f0f0;
    height: auto;
    border-radius: 15px;
    padding: 15px;
}

.card p {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
}

.card-source {
    font-size: 0.75em;
    color: #686867;
    font-weight: normal;
}

.card-title {
    font-size: 0.75em;
    font-weight: bold;
}

.card-date {
    font-style: italic;
    font-size: 0.75em;
    color: #686867;
}

.card a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.card img {
    border-radius: 15px;
    width: 100%;
    height: auto;
}

/* Section headers */
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Buttons */
.button {
    display: inline-block;
    background-color: #49aac5;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #3a8ca3;
}


/* ============================================
   FOOTER
   ============================================ */

#footer {
    width: 100%;
    clear: left;
    background: #f1f1f1;
    color: black;
    border-top: lightgrey 1px solid;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-logo {
    width: 100px;
    height: auto;
    box-sizing: border-box;
}

.footersmall-text {
    font-size: 0.8em;
    color: black;
    margin: 0;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}